body{
	background-color: gray;
}
.container{
    margin: 1.5% auto;
	min-width: 80%;
	border:2px solid white;
}

img{
  margin:1%;  
 width:30%;
 height:30%;

}

h1 {
	
	line-height: 1.1;
	font-weight: normal;
	color: white;
	background: steelblue;
	margin: 0;
	text-transform: uppercase;
	padding: 20px 0;
}


#dashboard {
	font-size: 200%;
}

#panel{
    background:red;
    height:20px;
    text-align: center;
    text-transform: uppercase;
}
button{
	background:none;
	border:none;
	text-transform: uppercase;
	letter-spacing: 1px;
	outline: none;
		font-size: inherit;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	font-weight: 700;
	height: 100%;
}

button:hover{
	background-color: steelblue;
}


#hscore{
	width: 100px;
	height: 100px;
	background:steelblue;
	text-align: left;
}
.middle{
	text-align: center;
}